<div class="page-header">
    <h3>
      <a ng-show="game.title" href="{{game.title}}">
        {{game.title}}
      </a>
      <p> {{ game.description }} </p>
      <p> {{ game.location }} </p>
      <p> {{ game.player_1 }} vs. {{ game.player_2 }} </p>
      <span ng-hide="game.title">
        {{game.title}}
      </span>
    </h3>
  </div>

  game view page

  <div ng-repeat="comment in game.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>



  <form ng-submit="addComment()"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>