
        <div class="page-header">
        <h1>Tennis Buddy</h1>
      </div>

      {{test}}

      <div ng-repeat="game in games | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
          ng-click="incrementUpvotes(game)"></span>
        {{game.upvotes}}
        <span style="font-size:20px; margin-left:10px;">
          <a ng-show="game.title" href="{{game.title}}">
            {{game.title}}
          </a>
          <span ng-hide="game.title">
            {{game.title}}
          </span>
          <span>
            <a href="#/games/{{$index}}">Comments</a>
          </span>
        </span>
      </div>

      <form ng-submit="addGame()"
        style="margin-top:30px;">
        <h3>Start a New Tennis Match!</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Title"
            ng-model="title"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Description"
          ng-model="description"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="location"
          ng-model="location"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="player_1"
          ng-model="player_1"></input>
        </div>
        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="player_2"
          ng-model="player_2"></input>
        </div>
        <button type="submit" class="btn btn-primary">Start Game</button>
      </form>

    </div>
