
<div class="all-content container">

  <div class="welcome-intro">
    <% if params[:sess] %>
    <%= session[:user_id]  %> well
    <% else %>
    Welcome to Tennis Buddy!
    <% end %>
  </div>

 sesh: <%= params[:sess] %>


  <div class="section-wrapper" ng-hide="openLocationReq == true">

    <div class="section find-game"><a href="#" ng-click="reloadRoute()">Find a game</a></div>

    <div class="section start-game"><a href="#" ng-click="openLocationReq = true; myStyle={display:'block'}">Start a game</div>

  </div>


    <div style="display: hidden" ng-if="openLocationReq == true" ng-style="myStyle">
      <div class="main-content">
      <div class="location-question">
        <h1>Time for a Game</h1>
        Where are you located? <br>
        <form action="#">
        <input type="text" class="location-input" class="current-location" name="current-location" ng-model="location"><br>
        <input class="submit-location" type="submit" value="Submit my Location" ng-click="openGameReq()"><br>
      </form>
        </div>
      </div>
    </div>




</div>