
<div class="all-content">

  <div class="welcome-intro">
    <% if params[:sess] %>
    <%= session[:user_id]  %> well
    <% else %>
    Welcome to Tennis Buddy!
    <% end %>
  </div>

 sesh: <%= params[:sess] %>


  <div class="section-wrapper" ng-hide="openLocationReq == true">

    <div class="section start-game"><a href="#" ng-click="reloadRoute('games/new')">Start a game</a></div>

    <div class="section find-game"><a href="#" ng-click="reloadRoute('games')">Find a game</a></div>

  </div>


</div>