
<div class="all-content container">

  <div class="welcome-intro">
    <% if session[:user_id] %>
    <%= session[:user_id] %>
    <% end %>
    Welcome to Tennis Buddy!
  </div>

  <div class="section-wrapper">

    <div class="section find-game"><a href="#" ng-click="reloadRoute()">Find a game</a></div>

    <div class="section start-game"><a href="/games/new">Start a game</div>

  </div>

<!--
    <div class="homepage" ng-show="wantsNewGame = true">
      <div class="main-content">
      <div class="location-question">
        <h1>Time for a Game</h1>
        Where are you located? <br>
        <form action="#">
        <input type="text" class="location-input" class="current-location" name="current-location" ng-model="location"><br>
        <input class="submit-location" type="submit" value="Submit my Location" ng-click="submitLocation()"><br>
      </form>
        </div>
      </div>
        -->
    </div>


</div>