<div class="gamereq-wrapper" ng-app="myApp" ng-controller="MainCtrl">
  <div class="gamereq">

    <h2>GAME REQUEST</h2>
      <form method="POST" action="/games" id="gamereq-form">

      <div class="gamereq-labels">
        <div class="gamereq-label">Desired location:</div><br>
        <div class="gamereq-label">Player 1:</div><br>
        <div class="gamereq-label">Player 2: </div><br>
        <div class="gamereq-label">Game title:</div><br>
        <div class="gamereq-label">Description:</div><br>
        <div class="gamereq-label">Desired Area:</div><br>
      </div>

      <div class="gamereq-inputs">
        <input name="game[location]"/>{{game.location}}<br>
        <input name="game[player_1]"/><br>
        <input  placeholder="awaiting" /><br>
        <input type="text" class="gamereq-input" name="game[title]" ng-model="game.title"><br>
        <input type="text" class="gamereq-input gamereq-input-descr" name="game[description]" ng-model="game.description"><br>
        <input type="text" class="gamereq-input" name="game[coordinates]" ng-model="game.description">
        <button class="btn-success" ng-click="convertToCoord()">convert to coordinates</button>

        <input class="btn btn-success submit-gamereq" type="submit" value="Create Game Request"><br>
      </div>
    </form>

    <div class="previous-btn">
      <%= link_to 'Back', games_path %>
    </div>

  </div>
</div>



