<div class="gamereq-wrapper" ng-app="myApp" ng-controller="MainCtrl">
  <div class="gamereq">

    <h2>GAME REQUEST</h2>
      <!-- <form method="POST" action="/games" id="gamereq-form"> -->

      <div class="gamereq-labels">
        <div class="gamereq-label">Desired location:</div><br>
        <div class="gamereq-label">Player 1:</div><br>
        <div class="gamereq-label">Player 2: </div><br>
        <div class="gamereq-label">Game title:</div><br>
        <div class="gamereq-label">Description:</div><br>
      </div>
      
      <form style="float: left; margin-top: 9%; "name="someform" ng-submit="someform.$valid && createGame(someform)" novalidate>
      <div class="gamereq-inputs">
        <span style="margin-bottom: -30px;">
        <input type="text" class="coordz gamereq-input" name="game[coordinates]" ng-model="game.address" placeholder="street address"> 
        <input type="text" class="town-country gamereq-input" ng-model="game.townCountry" placeholder="city/state and country"> 
      </span>

        <input name="game[player_1]"/ ng-model="game.player_1" placeholder="player 1"><br>
        <input name="game[player_2]"/ ng-model="game.player_2" placeholder="player 2"><br>
        <!-- <input  placeholder="awaiting" /><br> -->
        <input type="text" class="gamereq-input" name="game[title]" ng-model="game.title" placeholder="game title"><br>
        <input type="text" class="gamereq-input gamereq-input-descr" name="game[description]" ng-model="game.description" placeholder="description"><br>
        <input class="btn-success" ng-click="createGame(game)" value="Create Game"/>
      </div>
    </form>

    <div class="previous-btn">
      <%= link_to 'Back', games_path %>
    </div>

  </div>
</div>



