/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

* {
    box-sizing: border-box;
    border-radius: 4px;
}

html {
  font-size: 14px;
  min-height:100%;
  position:relative;
  font-family: "Palatino Linotype", "Book Antiqua", "serif";
  background-color: black;
  font-size: 16px;
  border: 2px solid black;
}

html, body {
    margin: 0;
    background: url('../images/tennis-ball.jpg')
    background-size: 100% 100%;
    height:100%;
}

/*html {
    height:100%;
}
body {
    min-height:100%;
}*/

.body-inner-wrap {
  min-height:100%;
  margin-bottom: -50px;
}

.body-inner-wrap:after {
  content: "";
  display: block;
}

footer, .body-inner-wrap:after {
  height: 50px;
}

.section {
  margin-left: 10%;
}

.section .new-game {
  height: 100%
}

.user-name {
  background: url('../../images/tennis-ball.jpg');
}

img#tenn {
  background: url('../../images/tennis-ball.jpg');
}

.wrapper {
  background: url('tennis-ball.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

nav.navbar-default {
  background-color: rgb(215, 214,81) !important;
  height: 60px !important;
  border-bottom: 2px solid black;
  width: 100%;

  .navbar-brand {
  img {
    margin-top: -33px;
    width: 35%;
    display: block;
    }
  }

  .navbar-right {
    list-style-type: none;
    overflow: hidden;
    font-size: 160%;
    margin: auto;
    order: 2;
    display: flex;

    li a {
      color: rgb(92, 180, 122) !important;
      text-shadow: 0px 0px 2px black;
      text-align: center;
      text-decoration: none;
      margin: auto;
      float: left;
      margin-top: 10%;
      padding: 20px;

      &:hover:not(.active) {
        text-shadow: 0px 0px 5px #81F7F3;
      }
    }
  }
}

.active {
  background-color:#4CAF50;
}

.main-body {
  margin-top: 5px;
  /*height: 450px;*/
  height: 100%;
  display: block;
  overflow: hidden;

  .profile {
    background-color: green;
    /*height: 450px;*/
    height: 100%;

    .page-title {
      font-weight: bold;
      font-size: 28px;
      margin-left: 11%;
      padding-top: 20px;
    }

    .edit-instruction {
      font-style: italic;
      font-size: 18px;
      font-weight: bold;
      margin-left: 16%;
    }

    .profile-description {
      margin: 20px;
      line-height: 30px;
    }

    input.editable-input.form-control {
      height: 35px;
      font-size: 15px;
      border-radius: 5px;
    }

    .edit-labels {
      font-weight: bold;
      font-size: 20px;
      color: #1B4536;
    }

    .first-col {
      float: left;
      margin-left: 9%;
    }

    .second-col {
      float: left;
      margin-left: 30%;

      .profile-games {
        margin-left: -135%;
        margin-top: 110px;
      }
    }

      #edit-form {
        margin-left: 10%;
        font-size: 20px;
      }
    }
  }

  .editable-buttons {
      font-size: 25px;
  }

button.btn.btn-primary, button.btn.btn-default {
  width: 8%;
  height: 25px;
  border-radius: 5px;
}

.main-body .past {
  background-color: beige;
  height: 450px;
  padding: 35px;
}

.main-body .browse { height: 450px;}

.angular-google-map-container {
  height: 450px;
}

.login {
  height: 450px;
  display: flex;

  label { font-size: 24px;}
  input { font-size: 20px;}

  input.login-email {
    margin-top: 7%;
    margin-bottom: 7%;
  }

  input.login-password {
    margin-top: 7%;
    margin-bottom: 7%;
  }

  input.login-submit {
    margin-top: 10%;
    float: right;
    margin-right: 7%;
  }
}

.homepage {
  img {
  height: 450px;
  width: 100%;
  }

  input.current-location {
    height: 50px;
    width: 30%;
    margin: 10px;
  }
}

.home input.submit-location {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.home input.locate {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  margin-top: -350px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #92ac08;
  text-shadow: 0px 0px 10px black;
  text-align: center;
  margin-top: 27%;

  h2 { margin-bottom: 5%;}

  input.location-input { margin: 5%;}

  .location-question {
    margin-top: -500px !important;
    margin-bottom: 130px !important;
  }
}

footer {
    /*position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin-bottom: -70px;
    overflow:hidden;
    background-color: rgb(215, 214,81);
    border-top: 2px solid black;
    color: rgb(92, 180, 122);
    text-shadow: 0px 0px 2px black;
    padding: 10px;
    text-align: right;*/
    background-color: rgb(215, 214,81);
    border-top: 2px solid black;
    color: rgb(92, 180, 122);
    text-shadow: 0px 0px 2px black;
    text-align: right;


}

.popover {
  position: absolute;
  z-index: 100;
}


.signup {
  form#signup-form {
    margin-top: 5%;
    input {
    margin-left: 30%;
    }
  }
}


.navwrap {
  display: flexbox;
  position: fixed;
}

.navbar-right { margin-left: 50% !important;}

li.navlinx {
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;
  margin-left: 50px;
  padding-top: 7px;
}

.content-container {
  padding-top: 140px;
  padding-left: 50px;
  background-image: url(tennis-ball.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
/*  height: 700px;*/
  min-height: 100%;
}

.section-wrapper {
  margin-top: -350px;
  padding-bottom: 50px;
}

.login-box {
    height: 300px;
    width: 35%;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    top: 7%;
    left: 56%;
    background: beige;
    padding: 3%;
    padding-left: 90px;

}

.login-box form { padding: 28px;}

.login-box, .signup-box .btn-success { margin-top: 10px;}

p.labels {
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
}

.signup-box  {
  height: 650px;
  width: 35%;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  top: 7%;
  left: 62%;
  background: #9dcc69;
  padding: 3%;
  padding-left: 90px;
}

.login-box, .signup-box input {
  padding: 5px;
  width: 300px;
}

.location-question {
  margin-top: -300px;
  border: 2px solid black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: beige;
  height: 300px;
}

.location-question h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.location-question input {
  margin: 20px;
  margin-top: 30px;
  width: 500px;
}

.game-form {
  width: 300px;
  display: none;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .secondClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}