// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container {

  height: 400px;
  color: black !important;
}

.waiting {
  margin-left: 1.5%;
  font-style: italic;
  margin-top: -50px;
  margin-bottom: 50px;
}

.table {
  background-color: rgba(60, 118, 61, 0.3);
  color: black;
}


.game-title {
  font-size: 18px;
  cursor: pointer;
}

.game-title:hover {
  color: #e2e2e2;
  text-decoration: none;
  background: black;
}

.game-edit-delete {
  width: 20%;
}

.game-edit-delete a:visited {
  text-decoration: none;
  color: black;
}

.show-wrapper {
  p {
    font-size: 20px;
  }
}

.gamereq-wrapper {
  display:flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background: url('fitnessandtennis.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.gamereq-wrapper .gamereq {
  display:flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  margin-top: 70px;
  width: 80%;
  height: 400px;
  background: rgba(0,0,0,0.5);
}

.gamereq-wrapper .gamereq h2{
  color: #d7d651;
  font-weight: bold;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}


.gamereq-wrapper .gamereq #gamereq-form {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: flex;
  flex-direction: row;
}

.gamereq-labels {
  font-size: 16px;
  font-weight: bold;
  font-family: Aria;
  order: 1;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 4px;
}

.gamereq-inputs {
  order: 2;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: -109px;
}

.gamereq-inputs input{
  order: 2;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 300px;
  padding-left: 10px;
}

.gamereq-inputs .gamereq-input-descr {
  padding: 20px;
}

.submit-gamereq{
  width: 100px;
}


.lower-footer {
  margin-top: 400px;
  margin-left: -50px;
}

textarea#comment_body {
    height: 60px;
    width: 200px;
}


.game-detail-label {
  font-size: 14px;
  font-weight: bold;
}

.game-detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-top: -8%;
  border: 1px solid brown;
  background: beige;
  padding: 10px;
  .game-detail-head {
    display: flex;
    flex-direction: row;
    .title {
      padding-top: 2%;
      line-height: 1.4;
      font-size: 32px;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
    }
    .location-img {
      background: url('gmap.jpg');
      height: 55%;
      border: 1px solid brown;
    }
    .suggested-locs {
     /* height: 45%;
      border: 1px solid brown; */
    }
    .player-img {
      background: url('anonymous.jpg');
    }
    .potential-img {
      background: url('hillary.jpg');
    }
    .player-img, .potential-img {
      background-size: cover;
      width: 20%;
      border-radius: 100%;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .game-detail-body {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    .left, .middle, .right {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }
    .left {
      .info {
        height: 40%;
        padding-right: 3%;
      }
      .score {
        height: 50%;
        .score-game {
          padding: 4% 0 8% 15%;
        }
      }
    }
    .middle {
      border: 1px solid brown;
    }
    .right {
    padding-left: 3%;
      .comms {
        overflow-y: scroll;
        .commenter {
          font-size: 10px;
          margin-left: 15%;
          input#comment_commenter {
            width: 80%;
          }
          input[type="submit"] {
            width: 30%;
          }
        }
      }
    }
  }
}

.edit-back {
  margin-left: 45%;
  width: 25%;
}

.gd-hr {
  border: 1px solid brown;
  width: 55%;
}

.add-score {
  margin-top: 4%;
  margin-left: 35%;
}