// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container {
  padding-top: 140px;
  padding-left: 50px;
  background-image: url(tennis-ball.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  color: black !important;
}

.waiting {
  margin-left: 1.5%;
  margin-bottom: 45px;
  font-style: italic;
}

.table {
  background-color: rgba(60, 118, 61, 0.3);
  color: black;
}


.game-title {
  font-size: 18px;
}

.game-title a:hover {
    color: #e2e2e2;
    text-decoration: none;
}

.show-wrapper {
  p {
    font-size: 20px;
  }
}

.gamereq-wrapper {
  display:flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background: url('fitnessandtennis.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.gamereq-wrapper .gamereq {
  display:flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  margin-top: 70px;
  width: 80%;
  height: 400px;
  background: rgba(0,0,0,0.5);
}

.gamereq-wrapper .gamereq h2{
  color: #d7d651;
  font-weight: bold;
  font-size: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}


.gamereq-wrapper .gamereq #gamereq-form {
  margin-right: auto;
  margin-left: auto;
  width: 55%;
  display: flex;
  flex-direction: row;
}

.gamereq-labels {
  font-size: 16px;
  font-weight: bold;
  font-family: Aria;
  order: 1;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 4px;
}

.gamereq-inputs {
  order: 2;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: -109px;
}

.gamereq-inputs input{
  order: 2;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 300px;
  padding-left: 10px;
}

.gamereq-inputs .gamereq-input-descr {
  padding: 20px;
}