
.user-show {
  height: 90%;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  background: beige;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 995;
}

.user-show .profile-top {
  order: 1;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 70%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
  font-size: 30px;
}

.user-show .profile-main {
  order: 2;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-show .profile-main .pm-left {
  order: 1;
}

.user-show .profile-main .pm-center {
  order: 2;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.user-show .profile-main .pm-center .user-photo{
  order: 1;
  margin-right: auto;
  margin-left: auto;
  background-image: image-url('anon_logo.png');
  background-size: 100% 100%;
  width: 250px;
  height: 250px;
}

.user-show .profile-main .pm-center .message-link{
  order: 2;
  margin-right: auto;
  margin-left: auto;
  margin: 20px;
  text-align: center;
}

.user-show .profile-main .pm-right {
  order: 3;
}

.user-show .profile-main .pm-left, .user-show .profile-main .pm-right {
  line-height: 1.8;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  font-size: 14px;
  width: 320px;
  height: 300px;
  background: #b7c123;
}

.content-header {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 10px;
}

.user-label {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.user-show .profile-main .pm-right .not-looking-to-play {
  margin-left: 19%;
  margin-top: 50px;
  height: 50px;
  width: 150px;
  background: red;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid black;
  overflow: auto;
}

.user-show .profile-main .pm-right .looking-to-play {
  margin-top: 50px;
  margin-left: 19%;
  height: 50px;
  width: 150px;
  background: #00ff69;
  padding-top: 10px;
  text-align: center;
  border: 1px solid black;
  overflow: auto;
}	

footer {
	z-index: 95;
    margin-top: 500px !important;
}

