other try

<div class="container">
    <h1>The Home View!</h1>
    <div class="home">
      <img alt="bgimg" src="../../app/assets/images/tennis-ball.jpg">
      <div class="main-content">Time for a game <br>
      <div class="location-question">
        Where are you located? <br>
        <form action="#">
        <input type="text" class="current-location" name="current-location" ng-model="location"><br>
        <input class="submit-location" type="submit" value="Submit my Location" ng-click="submitLocation()"><br>
        <!-- <input class="locate" type="submit" ng-click="locate()" value="Geolocate me"> -->
      </form>
        </div>
      </div>
    </div>
</div>