<div class="login-form">
  <p>
    <form action="/">
      <label>Email: </label><br>
      <input type='text' class='login-email' ng-model="user.email"><br>
      <label>Password: </label><br>
      <input type='password' class='login-password' ng-model="user.password"><br>
      <input type='submit' class='login-submit' ng-click="login()" value="Log in!">
    </form>
    </p>
</div>
