<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">My App!</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="signup">Signup</a></li>
      <li><a ui-sref="login">Login</a></li>
      <li><a ui-sref="past-games">Past Game</a></li>
      <li><a ui-sref="browse">Browse</a></li>
      <li><a ui-sref="new-game">New Game</a></li>
    </ul>

  </div>
</nav>