<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand logo-area" ui-sref="home">
        <%= image_tag("logo.png") %>
      </a>
    </div>

    <ul class="nav navbar-nav main-nav">

      <li><a ui-sref="login">Login</a></li>
      <li class="game-zone" ng-mouseenter="popOverIsVisible = true; showPopOver()" ng-mouseleave="popOverIsVisible = false"><a ui-sref="new-game">Play Tennis!</a></li>
      <li><a ui-sref="profile">My Profile</a></li>
      <li><a ui-sref="signup">Sign Up</a></li>
    </ul>

    <button class="popover" ng-show="popOverIsVisible"><span>Popover Content</span></button>

  </div>
</nav>
