


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">
          <%= image_tag("logo.png") %>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="login">Login</a></li>
            <li><a ui-sref="profile">My Profile</a></li>
            <li><a ui-sref="signup">Sign Up</a></li>



            <li class="dropdown">
          <a ui-sref="new-game" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="new-game">Start a New Game!</a></li>
            <li><a ui-sref="browse">Browse Games in the Area</a></li>
            <li><a ui-sref="past-games">Past Games</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>