<div class="section new-game">


New game section

User is <br>
<%= @ex %> <br>
<%= :resources %> <br>


<li><a ui-sref="new-game">Start a New Game!</a></li>
<li><a ui-sref="browse">Browse Games in the Area</a></li>
<li><a ui-sref="past-games">Past Games</a></li>



</div>