<div class="section signup">

  <h2> Create your account </h2>
  <form id ="signup-form" action='/users' method='post'>
    <b>First name: </b>
    <br><input type='text' name='user[first_name]'/><br>
    <b>Last name: </b>
    <br><input type='text' name='user[last_name]'/><br>
    <b>Username:</b>
    <br><input type='text' name='user[username]'/><br>
    <b>Email:</b>
    <br><input type='text' name='user[email]'/><br>
    <b>Password: </b>
    <br><input type='password' name='user[password]'/><br>
    <b>Confirm password: </b>
    <br><input type='password' name='user[password_confirmation]'/><br>
    <b>Age: </b>
    <br><input type='text' name='user[age]'/><br>
    <b>ZipCode: </b>
    <br><input type='text' name='user[zipcode]'/><br>
    <b>URL of your photo: </b>
    <br><input type='text' name='user[photo_url]'/><br>

   <center> <input type='submit' value='Sign up!'/></center>
  </form>

</div>